{% extends 'material/frontend/base_module.html' %}

{% block content %}
{% load material_form %}
{% load staticfiles %}
<link href="{% static "css/kaffeekasse.css" %}" rel="stylesheet" type="text/css" media="screen" />
<script src="{% static "js/kaffeekasse.js" %}"></script>
<div class="row">
    <div class="col m6">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col m12">
                        <form id="purchase_form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% form %}
                                {% part form.purchasing_name prefix %}<i class="mdi-action-shopping-cart prefix"></i>{% endpart %}
                                {% part form.purchasing_value prefix %}<i class="mdi-editor-attach-money prefix"></i>{% endpart %}
                                {% part form.purchasing_date prefix %}<i class="mdi-action-event prefix"></i>{% endpart %}
                                {% part form.purchasing_attachment_name prefix %}<i class="mdi-action-receipt prefix"></i>{% endpart %}
                                {% part form.debtor_name prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                                {% part form.debt_amount prefix %}<i class="mdi-editor-attach-money prefix"></i>{% endpart %}
                                {{ form.debt_count.as_hidden }}
                            {% endform %}
                            <div class="right relative">
                                <div class="add-debtor btn" onclick="add_debtor_line()">
                                    <i class="mdi-content-add"></i>
                                </div>
                                <button type="submit" name="_submit" class="btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if success == True %}
        <script>
            $(document).ready(function() {
                Materialize.toast('Einkauf erfolgreich gespeichert', 10000, 'alert-success');
            });
        </script>
    {% endif %}
{% endblock %}