{% extends 'material/frontend/base_module.html' %}

{% block content %}
{% load staticfiles %}
<link href="{% static "css/officecloud.css" %}" rel="stylesheet" type="text/css" media="screen" />
<div class="row">
    {% for widget in widgets %}
    <div class="col m3">
        <a class="widget-link" href="{% url widget.link %}">
            <div class="card-panel hoverable">
                <div class="card-content">
                    {{ widget.html }}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}